<ng-container>
    <nav>
        <ul class="nav__list">
            
            <button><li class="nav__item"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li></button>
            <li class="nav__item"><i class="fa fa-cube fa-2x" aria-hidden="true"></i></li>
            <li class="nav__item"><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></li>
            <li class="nav__item"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></li>
            <li class="nav__item"><i class="fa fa-cube fa-2x" aria-hidden="true"></i></li>
            <li class="nav__item"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></li>
            <li class="nav__item"><i class="fa fa-download fa-2x" aria-hidden="true"></i></li>

            
        </ul>
    </nav>
</ng-container>
